<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EnviroConnect</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    





       {% block start %}


       {% include 'footer.html' %}
        {%  endblock %}



        
        <footer>
            <p>Footer</p>
        </footer>
    </body>
</html>