{% extends "DRY.html" %} {% block start %} {% include 'nav.html' %}



<h1 class="text-center my-3">Feedback</h1>


<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'feedback' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %} {{ form.as_p }}

                <button type="Submit" class="btn btn-primary" style="position: relative; left: 40%;">
                Submit
        </button>
            </form>
        </div>

    </div>
</div>





{% endblock %}