{% extends "DRY.html" %}
{% block start %}
{% include 'nav.html' %}
<!--  Style.css   -->




<!--  Multilingual Support  -->




<!--  Body   -->
    <div id="container">
        <div id="child">
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>
        <div id="child">
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>
        <div id="child">
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset
                concludaturque et
                eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
                repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>
    </div>


 


 





{%  endblock %}