{% extends "DRY.html" %} {% block start %} {% include 'nav.html' %}


<style>
    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<div class="center">

    <form class="text-center border border-light p-5" action="success" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> EnviroConnect</p>
        <p class="mb-3">Apply for Suggestions for your establishments</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->

        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_4135eGDYhDKQzy" data-amount="1000" data-currency="INR" data-order_id="{{payment.id}}" data-buttontext="Pay" data-name="EnviroConnect" data-description="Land Suggestions for your establishment"
            data-image="https://example.com/your_logo.jpg" data-prefill.name="Suyash Gupta" data-prefill.email="SuyashGupta@example.com" data-theme.color="#0ec430"></script>

    </form>

</div>
</div>



{% endblock %}